<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>AntiqumApiHost</key>
	<string>$(ANTIQUM_API_HOST)</string>
	<key>GoogleMapsApiKey</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Antiqum uses your location to show your current place and nearby museums on the map.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
</dict>
</plist>
